body {
  background-color: #fafafa;
  font-family: 'Roboto Condensed', sans-serif;
}
ul {
  padding: 0;
  margin: 0;
}


.testImage {
  float: left;
  width: 33.33%;
  box-sizing: border-box;
  padding: 3px;
}

.testImage img {
  width: 100%;
  height: auto;
  border: 1px solid #eee;
  padding: 3px;
  box-sizing: border-box;
  background-color: #fff;

}

.test {
}

.test {
  clear: both;
  list-style: none;
  padding: 0 0 4px 0;
  margin: 0;
}

.test .test-succeeded,
.test .test-failed {
  width: 80%;
  float: left;
}

.test a {
  display: block;
  padding: 2px 4px 2px 4px;
  border-radius: 2px;
  color: #fff;
  text-decoration: none;
  background-color: #aaa;
}

.test a:hover {
  color: #000;
}

.test-succeeded a {
  background-color: #0f0;
}

.test-failed a {
  background-color: #f00;
}

.test .test-viewportWidth,
.test .test-difference {
  width: 20%;
  float: right;
}

.test-testDetail {
  padding-top: 4px;
}
